# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
vehicledet-env/
env/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# Media/model files
*.weights
*.t7
*.mp4
*.avi
*.jpg
*.png
*.jpeg

# Logs and text outputs
*.log
*.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode/IDE config
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
